/*!
 * Style.css
 * author: michael depaula
 * custom css style css
 * @font-face - using Google Fonts
*/
@media (max-width: 767px) {
.nav-menu{
	background-color: #EBEBEB;
	width:100%;
	padding:5px;
}
.nav-slave{
	width:100%;
	background-color:#4C5D78;
}
}
@media (min-width: 768px) {
.nav-menu{
	background-color: #EBEBEB;
	width:100%;
	padding:5px;
}
.nav-slave{
	width:100%;
	background-color:#4C5D78;;
}
}
@media (min-width: 992px) {
.nav-menu{
	background-color: #EBEBEB;
	width:250px;
	height:750px;
	padding:20px;
}
.nav-slave{
	height:750px;
	padding:20px;	
}
.nav-slave{
	background-image:url(../img/fa-nav-bg.png);
	width:90%;
}
}
@media (min-width: 1200px) {
.nav-menu{
	background-color: #EBEBEB;
	width:250px;
	height:750px;
	padding:20px;
}
.nav-slave, .nav-slave1{
	height:750px;
	padding:20px;	
}
.nav-slave{
	background-image:url(../img/fa-nav-bg.png);
	width:90%;
}
}
/* Google Font - Gloria Hallelujah */
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28cNDay8z-hHR7F16xrcXsJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* Google Font - Shadows Into Light Two */
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xTO1YRoFzJJ_4isFaSLPfef3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* Google Font - Shadows Into Light Two */
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xbIfIbZrEcH2WW587lG91II.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* Google Font - Special Elite */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35JmzxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.title{
	font-family: 'Special Elite', cursive;
	font-size:48px;
}
.generate{
	font-family: 'Shadows Into Light Two', cursive;
	font-size:48px;
	color:#FFFFFF;
	margin: 0 auto; 
    white-space: pre-wrap;        
    white-space: -moz-pre-wrap;    
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;      
    word-wrap: break-word;
	width:80%; 
}
.thumb1{
  height:100px;
 } 
.thumb2{
  height:607px;
  margin:auto 0;
}
.thumb3{
  margin:0 40px 0 40px;
}
.thumb2-main{
	background:url(../img/main-bg.jpg) top no-repeat;
}
.thumb2-main1{
	background:url(../img/main-bg1.jpg) top no-repeat;	
}
.thumb2-main2{
	background:url(../img/main-bg2.jpg) top no-repeat;	
}
.thumb2-main3{
	background:url(../img/main-bg3.jpg) top no-repeat;	
}
.thumb2-main4{
	background:url(../img/main-bg4.jpg) top no-repeat;	
}
.thumb2-main, .thumb2-main1, .thumb2-main2, 
.thumb2-main3, .thumb2-main4{
	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding: 30px 0 10px;	
}
.main{
	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding:100px 0 80px;
}
#words-group, #words-group1{
	margin-bottom:0; 	
}
.form-inline .form-control, .symbols{
	width:40px;	
}
.animate{
	color:#A0E2E3; 
	font-size:16px;
	margin: 0 auto;
}
.status{
	color:#5EC399; 
}
.status_info{
	margin: 0 auto;
	margin-top: 4px; 
}
.footer{
	font-family: 'Special Elite', cursive;
	font-size:14px;
	background:#F0F0F0;
	padding:30px;
	color:#0B2329;
}
.form-mobile{
	padding: 0 40px 0 40px;	
}
.navbar-header{
	padding: 0 20px 0 20px; 	
}
.fa-3x{
	font-size:3em;	
	color:#FDFDFD;
	text-shadow: 2px 2px #090909;
	padding: 15px 0 15px 0; 	
    -webkit-transition: font-size 0.5s, color 0.5s, text-shadow 0.5s;
    transition: font-size 0.5s, color 0.5s, text-shadow 0.5s; 	
}
.fa:hover, .fa-active {
    font-size: 4em;
	color:#63a4f9;
	text-shadow: 8px 8px #090909;
}
.nav-fa-container{
	margin:auto 0;
}
.nav-fa{
	background-image:url(../img/fa-nav-bg.png);
	height:750px;
	width:190px;
	padding-top:10px;
	text-align:center;
	float:right;
	margin-right:0px;
}
.nav-fa1{
	width:100%;
	padding-top:10px;
	text-align:center;
	float:left;
	margin-right:0px;
}
.nav-left, .nav-middle, .nav-right{
	height:750px;
	text-align:center;
}
.nav-left1{
	height:5px;
	text-align:center;
}
.nav-middle1{
	text-align:center;
}
.nav-right1{
    width:100%;
	text-align:center;
}
.nav-title{
	font: 17px calibri, arial, "Times New Roman", serif;
	color:#fefefe;
	text-transform:uppercase;
}
.slave-container, .slave-container{
	color:#FFFFFF;	
}
.slave-container{
	font-size:12px;	
}
.slave-container .head{
	background-color:#222222;	
}
.intro{
	color:#f5f5ed;
	text-shadow: 2px 2px #090909;
}
.lead{
	color:#002544;
}
.lead_mobile{
	color:#CDCDCD;	
}
.media{
	color:#858a92;
	font-size: 14px;
	font-weight:300;
}
ul.cp{
	color:#424242;
	font-size: 12px;
	font-weight:300;	
}
.t_title, .profile_title {
	font: 45px 'Gloria Hallelujah', cursive;
}
.profile_title{
	color:#7fffff;
}
.chmod_title{
	color:#3E3E3E;
	font: 25px 'Gloria Hallelujah', cursive;
	background-color:transparent;
}
.chmod_caption{
	color:#3E3E3E;
	font: 18px 'Gloria Hallelujah', cursive;
	background-color:transparent;	
}
.img-profile{
	border:8px solid #FFFFFF;	
	box-shadow: 1px 1px 1px #000000;
	border-radius:100px;
	width:200px;
	height:200px;
}
.field{
	color:#10225A;
}
.list-group-item{
	word-wrap: break-word;
}
#paragraph, #paragraph1, #paragraph2{
	background: transparent; 
	width:100%; 
	height:650px; 
	overflow:scroll; 
	border:0;
}
.form-control, .label-control, .btn{
 	margin: 3px 0 5px 0;
}
.allow{
	color:#10754e;
}
.deny{
	color:#75101e;	
}
.chmod-bit{
	color:#000000;
	font: 40px 'Gloria Hallelujah', cursive;
}
#viewDeft, #viewJson, #viewCSV{
width:100%; 	
}
.ctrl-profile, .ctrljson-profile, .ctrlcsv-profile, .ctrl-lorem{
	display:none;
}
.view-nav{
width: 100%;	
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0; 
}