/*!
 * Style.css
 * author: michael depaula
 * custom css style css
*/

@media (min-width: 992px) {

}
.title{
	font-family: 'Special Elite', cursive;
	font-size:48px;
}
.generate{
	font-family: 'Shadows Into Light Two', cursive;
	font-size:48px;
	color:#FFFFFF;
	margin: 0 auto; 
    white-space: pre-wrap;        
    white-space: -moz-pre-wrap;    
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;      
    word-wrap: break-word;
	width:80%; 
}
.thumb1{
  height:100px;
 }
  
.thumb2{
  height:607px;
  margin:auto 0;
}
.thumb3{
  margin:0 40px 0 40px;
}
.thumb2-main{
	background:url(../img/main-bg.jpg) top no-repeat;
}
.thumb2-main1{
	background:url(../img/main-bg1.jpg) top no-repeat;	
}
.thumb2-main2{
	background:url(../img/main-bg2.jpg) top no-repeat;	
}
.thumb2-main3{
	background:url(../img/main-bg3.jpg) top no-repeat;	
}
.thumb2-main4{
	background:url(../img/main-bg4.jpg) top no-repeat;	
}

.thumb2-main, .thumb2-main1, .thumb2-main2, 
.thumb2-main3, .thumb2-main4{
	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding: 30px 0 10px;	
}
.main{
	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding:100px 0 80px;
}
#words-group, #words-group1{
	margin-bottom:0; 	
}
.form-inline .form-control{
	width:40px;	
}
.symbols{
	width:40px;	
}
.animate{
	color:#A0E2E3; 
	font-size:16px;
	margin: 0 auto;
}
.status{
	color:#5EC399; 
}
.status_info{
	margin: 0 auto;
	margin-top: 4px; 
}
footer{
	font-family: 'Special Elite', cursive;
	font-size:14px;
	background:#F0F0F0;
	padding:30px;
	color:#0B2329;
}
.form-mobile{
	padding: 0 40px 0 40px;	
}
.navbar-header{
	padding: 0 20px 0 20px; 	
}

.fa-3x{
	font-size:3em;	
	color:#FDFDFD;
	text-shadow: 2px 2px #090909;
	padding: 15px 0 15px 0; 	
    -webkit-transition: font-size 0.5s, color 0.5s, text-shadow 0.5s;
    transition: font-size 0.5s, color 0.5s, text-shadow 0.5s; 	
}
.fa:hover {
    font-size: 4em;
	color:#63a4f9;
	text-shadow: 8px 8px #090909;
}


.nav-fa-container{
	margin:auto 0;
}
.nav-fa{
	background-image:url(../img/fa-nav-bg.png);
	height:750px;
	width:190px;
	padding-top:10px;
	text-align:center;
	float:right;
	margin-right:0px;
}

.nav-left{
	height:750px;
	text-align:center;

}

.nav-middle{
	height:750px;
	text-align:center;

}
.nav-right{
	height:750px;
	text-align:center;
}
.nav-menu{
	background-color: #EBEBEB;
	width:250px;
	height:750px;
	padding:20px;
}
.nav-slave{
	background-image:url(../img/fa-nav-bg.png);
	width:90%;
	height:750px;
	padding:20px;
}
.nav-title{
	font: 17px calibri, arial, "Times New Roman", serif;
	color:#fefefe;
	text-transform:uppercase;
}
.slave-container
{
	color:#FFFFFF;
	font-size:12px;	
}
.slave-container .head
{
	background-color:#222222;
	color:#FFFFFF;	
}

.intro{
	color:#f5f5ed;
	text-shadow: 2px 2px #090909;
}

.lead{
	color:#002544;
}

.media{
	color:#858a92;
	font-size: 14px;
	font-weight:300px;	
}

ul.cp{
	color:#424242;
	font-size: 12px;
	font-weight:300px;	
}

.t_title, .profile_title {
	font: 45px 'Gloria Hallelujah', cursive;
}

.profile_title{
	color:#7fffff;
}

.chmod_title{
	color:#3E3E3E;
	font: 25px 'Gloria Hallelujah', cursive;
	 background-color:transparent;
}

.chmod_caption{
	color:#3E3E3E;
	font: 18px 'Gloria Hallelujah', cursive;
	background-color:transparent;	
}
.img-profile{
	border:8px solid #FFFFFF;	
	box-shadow: 1px 1px 1px #000000;
	border-radius:100px;
	width:200px;
	height:200px;
}

.field{
	color:#10225A;	
}
#paragraph, #paragraph1{
	background: transparent; 
	width:100%; 
	height:650px; 
	overflow:scroll; 
	border:0;"
}

.form-control, .label-control, .btn{
 	margin: 3px 0 5px 0;
}

.allow{
	color:#10754e;
}
.deny{
	color:#75101e;	
}

.chmod-bit{
	color:#000000;
	font: 40px 'Gloria Hallelujah', cursive;
}